@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}
.container{
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}
.container > p{
    font-size: 32px;
}
.question{
    width: 100%;
}
.answers{
    position: relative;
    padding-left: 40px;
}
#answers label{
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.answers input{
    opacity: 0;
}
.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #555;
    border-radius: 50%;
}
.answers input:checked ~ .checkmark:after {
    display: block;
}
.answers .checkmark:after{
    content: "";
	width: 10px;
    height: 10px;
    display: block;
	background: white;
    position: absolute;
    top: 50%;
	left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}
.answers input[type="radio"]:checked ~ .checkmark{
    background: #c45490;
    transition: 300ms ease-in-out 0s;
}
.answers input[type="radio"]:checked ~ .checkmark:after{
    transform: translate(-50%,-50%) scale(1);
}

.next-btn:hover{
    background-color: white;
    color: #c45490;
    border: 1.2px solid #c45490;
}
.next-btn{
    padding: 7px 25px;
    background-color: #c45490;
    color: white;
    border-radius: 6px;
    border: none;
}
.container.score-board{
    margin: 10% auto;
    min-height: 500px;
}
.text{
    padding-top:20%;
    font-weight: 900;
    font-size: 50px;
}
.h4.text-center.score{
    color: #c45490;
    font-weight: 900;
    font-size: 30px;
}
.descript{
    font-size: 28px;
}
@media(max-width:576px){
    .question{
        width: 100%;
        word-spacing: 2px;
    } 
}